:root {
  --bgc-black: rgb(20, 18, 11);
  --white-pri: #edecec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  background: var(--bgc-black);
  color: var(--white-pri);
}

nav {
  background-color: var(--bgc-black);
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;

}

.logo-right img {
  height: 40px;         
  width: auto;           
  display: block;        
  object-fit: contain;
}

  .middle-links a {
  text-decoration: none;
  color: var(--white-pri);
  font-size: 14px;
  padding: 15px;
  }

  .left-cta {
  font-size: 14px;
  padding: 5.88px 10.5px;

  }

  .left-cta .sign-in {
  color: var(--white-pri);
  background: var(--bgc-black);
  font-size: 14px;
  padding: 5.88px 10.5px;
  border-radius: 40px;
  border: none;
  border: 1px solid rgba(237, 236, 236, 0.2);
  }

  .left-cta .download {
  color: var(--bgc-black);
  background: var(--white-pri);
  font-size: 14px;
  padding: 5.88px 10.5px;
  border-radius: 40px;
  border: none;
  }

main {
  width: 75%;
  margin: 20px auto;
  .landing h2 {
    font-weight: 400;
    margin-top: 120px;
    font-size: 26px;
    letter-spacing: -0.325px;
  }

 
 .cta-btn {
   color: var(--bgc-black);
   background: var(--white-pri);
   font-size: 16px;
   padding: 12.8px 21.6px;
   border-radius: 40px;
   border: none;
   border: 1px solid var(--bgc-black);
   font-weight: 400px;
   margin: 20px 0;
 }
 .main-landing-page {
   position: relative;
 }
 .landing-bg {
   width: 100%;
   margin: 60px 0;
   border-radius: 4px;
   height: 42.5rem;
   position: relative;
 }
 .landing-code {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   border-radius: 4px;
 }
}
